section.about
  h2.visually-hidden Об академии
  ._container.about__container
    .about__pictures
      ul.carousel
        li.carousel__item
          picture 
            source(type="image/webp" srcset=`#` media="(max-width: 1023px)")
            source(type="image/webp" srcset=`img/content/o1.webp`)
            img(src='img/content/o1.jpg' height='100' width='300' alt='' loading="lazy").carousel__img 
        li.carousel__item
          picture 
            source(type="image/webp" srcset=`#` media="(max-width: 1023px)")
            source(type="image/webp" srcset=`img/content/o2.webp`)
            img(src='img/content/o2.jpg' height='100' width='300' alt='' loading="lazy").carousel__img 
        li.carousel__item
          picture 
            source(type="image/webp" srcset=`#` media="(max-width: 1023px)")
            source(type="image/webp" srcset=`img/content/o3.webp`)          
            img(src='img/content/o3.jpg' height='100' width='300' alt='' loading="lazy").carousel__img 
        li.carousel__item
          picture 
            source(type="image/webp" srcset=`#` media="(max-width: 1023px)")
            source(type="image/webp" srcset=`img/content/o4.webp`)
            img(src='img/content/o4.jpg' height='100' width='300' alt='' loading="lazy").carousel__img 
        li.carousel__item
          picture 
            source(type="image/webp" srcset=`#` media="(max-width: 1023px)")
            source(type="image/webp" srcset=`img/content/o5.webp`)         
            img(src='img/content/o5.jpg' height='100' width='300' alt='' loading="lazy").carousel__img 

        li.carousel__item
          picture 
            source(type="image/webp" srcset=`#` media="(max-width: 1023px)")
            source(type="image/webp" srcset=`img/content/o1.webp`)          
            img(src='img/content/o1.jpg' height='100' width='300' alt='' loading="lazy").carousel__img 
        li.carousel__item
          picture 
            source(type="image/webp" srcset=`#` media="(max-width: 1023px)")
            source(type="image/webp" srcset=`img/content/o2.webp`)          
            img(src='img/content/o2.jpg' height='100' width='300' alt='' loading="lazy").carousel__img 
        li.carousel__item
          picture 
            source(type="image/webp" srcset=`#` media="(max-width: 1023px)")
            source(type="image/webp" srcset=`img/content/o3.webp`)          
            img(src='img/content/o3.jpg' height='100' width='300' alt='' loading="lazy").carousel__img 
        li.carousel__item
          picture 
            source(type="image/webp" srcset=`#` media="(max-width: 1023px)")
            source(type="image/webp" srcset=`img/content/o4.webp`)          
            img(src='img/content/o4.jpg' height='100' width='300' alt='' loading="lazy").carousel__img 
        li.carousel__item
          picture 
            source(type="image/webp" srcset=`#` media="(max-width: 1023px)")
            source(type="image/webp" srcset=`img/content/o5.webp`)          
            img(src='img/content/o5.jpg' height='100' width='300' alt='' loading="lazy").carousel__img 
      ul.carousel
        li.carousel__item
          picture 
            source(type="image/webp" srcset=`#` media="(max-width: 1023px)")
            source(type="image/webp" srcset=`img/content/o6.webp`)
            img(src='img/content/o6.jpg' height='100' width='300' alt='' loading="lazy").carousel__img 
        li.carousel__item
          picture 
            source(type="image/webp" srcset=`#` media="(max-width: 1023px)")
            source(type="image/webp" srcset=`img/content/o7.webp`)
            img(src='img/content/o7.jpg' height='100' width='300' alt='' loading="lazy").carousel__img 
        li.carousel__item
          picture 
            source(type="image/webp" srcset=`#` media="(max-width: 1023px)")
            source(type="image/webp" srcset=`img/content/o8.webp`)          
            img(src='img/content/o8.jpg' height='100' width='300' alt='' loading="lazy").carousel__img 
        li.carousel__item
          picture   
            source(type="image/webp" srcset=`#` media="(max-width: 1023px)")
            source(type="image/webp" srcset=`img/content/o9.webp`)
            img(src='img/content/o9.jpg' height='100' width='300' alt='' loading="lazy").carousel__img 
        li.carousel__item
          picture 
            source(type="image/webp" srcset=`#` media="(max-width: 1023px)")
            source(type="image/webp" srcset=`img/content/o10.webp`)         
            img(src='img/content/o10.jpg' height='100' width='300' alt='' loading="lazy").carousel__img 

        li.carousel__item
          picture 
            source(type="image/webp" srcset=`#` media="(max-width: 1023px)")
            source(type="image/webp" srcset=`img/content/o6.webp`)          
            img(src='img/content/o6.jpg' height='100' width='300' alt='' loading="lazy").carousel__img 
        li.carousel__item
          picture 
            source(type="image/webp" srcset=`#` media="(max-width: 1023px)")
            source(type="image/webp" srcset=`img/content/o7.webp`)          
            img(src='img/content/o7.jpg' height='100' width='300' alt='' loading="lazy").carousel__img 
        li.carousel__item
          picture 
            source(type="image/webp" srcset=`#` media="(max-width: 1023px)")
            source(type="image/webp" srcset=`img/content/o8.webp`)          
            img(src='img/content/o8.jpg' height='100' width='300' alt='' loading="lazy").carousel__img 
        li.carousel__item
          picture 
            source(type="image/webp" srcset=`#` media="(max-width: 1023px)")
            source(type="image/webp" srcset=`img/content/o9.webp`)          
            img(src='img/content/o9.jpg' height='100' width='300' alt='' loading="lazy").carousel__img 
        li.carousel__item
          picture 
            source(type="image/webp" srcset=`#` media="(max-width: 1023px)")
            source(type="image/webp" srcset=`img/content/o10.webp`)          
            img(src='img/content/o10.jpg' height='100' width='300' alt='' loading="lazy").carousel__img       
      ul.carousel
        li.carousel__item
          picture 
            source(type="image/webp" srcset=`#` media="(max-width: 1023px)")
            source(type="image/webp" srcset=`img/content/o11.webp`)
            img(src='img/content/o11.jpg' height='100' width='300' alt='' loading="lazy").carousel__img 
        li.carousel__item
          picture 
            source(type="image/webp" srcset=`#` media="(max-width: 1023px)")
            source(type="image/webp" srcset=`img/content/o12.webp`)
            img(src='img/content/o12.jpg' height='100' width='300' alt='' loading="lazy").carousel__img 
        li.carousel__item
          picture 
            source(type="image/webp" srcset=`#` media="(max-width: 1023px)")
            source(type="image/webp" srcset=`img/content/o13.webp`)          
            img(src='img/content/o13.jpg' height='100' width='300' alt='').carousel__img 
        li.carousel__item
          picture 
            source(type="image/webp" srcset=`#` media="(max-width: 1023px)")
            source(type="image/webp" srcset=`img/content/o14.webp`)
            img(src='img/content/o14.jpg' height='100' width='300' alt='' loading="lazy").carousel__img 
        li.carousel__item
          picture 
            source(type="image/webp" srcset=`#` media="(max-width: 1023px)")
            source(type="image/webp" srcset=`img/content/o15.webp`)         
            img(src='img/content/o15.jpg' height='100' width='300' alt='' loading="lazy").carousel__img 

        li.carousel__item
          picture 
            source(type="image/webp" srcset=`#` media="(max-width: 1023px)")
            source(type="image/webp" srcset=`img/content/o11.webp`)          
            img(src='img/content/o11.jpg' height='100' width='300' alt='').carousel__img 
        li.carousel__item
          picture 
            source(type="image/webp" srcset=`#` media="(max-width: 1023px)")
            source(type="image/webp" srcset=`img/content/o12.webp`)          
            img(src='img/content/o12.jpg' height='100' width='300' alt='' loading="lazy").carousel__img 
        li.carousel__item
          picture 
            source(type="image/webp" srcset=`#` media="(max-width: 1023px)")
            source(type="image/webp" srcset=`img/content/o13.webp`)          
            img(src='img/content/o13.jpg' height='100' width='300' alt='' loading="lazy").carousel__img 
        li.carousel__item
          picture 
            source(type="image/webp" srcset=`#` media="(max-width: 1023px)")
            source(type="image/webp" srcset=`img/content/o14.webp`)          
            img(src='img/content/o14.jpg' height='100' width='300' alt='' loading="lazy").carousel__img 
        li.carousel__item
          picture 
            source(type="image/webp" srcset=`#` media="(max-width: 1023px)")
            source(type="image/webp" srcset=`img/content/o15.webp`)          
            img(src='img/content/o15.jpg' height='100' width='300' alt='' loading="lazy").carousel__img 
      picture 
        source(type="image/webp" srcset=`#` media="(min-width: 1023px)")
        source(type="image/webp" srcset=`img/content/o0.webp` media="(max-width: 1023px)")
        img(src=`img/content/o0.jpg` alt=`Здание Белмапо` width="320" height="456").about__img
    .about__info
      p.about__title Белорусская медицинская академия последипломного образования
      p.about__text Государственное учреждение образования "Белорусская медицинская академия последипломного образования" - это уникальный образовательный и научный центр, который на протяжении 85 лет успешно реализует систему непрерывного повышения квалификации и переподготовки врачей, специалистов системы здравоохранения. Ежегодно в стенах БелМАПО проходит обучение и подготовку порядка 18 тысяч специалистов по 81 специальности.
    ul.about__benefits.benefits 
      li.benefits__item
        dl.benefits__line 
          dd.benefits__title Тысяч специалистов ежегодно проходит подготовку в стенах БелМАПО
          dt(data-target="18").benefits__number 18
      li.benefits__item 
        dl.benefits__line
          dd.benefits__title Подготовка осуществляется по 81 специальности
          dt(data-target="81").benefits__number 81
      li.benefits__item
        dl.benefits__line
          dd.benefits__title Лет успешно реализует систему непрерывного повышения квалификаии
          dt(data-target="91").benefits__number 91
    .about__slider.management
      p.management__title Руководство
      .slider
        .slider__container.management__slider
          ul.management__list.slider__wrapper.swiper-wrapper
            each item in management 
              li.management__item.slider__slide.swiper-slide
                .management__img
                  picture
                    source(media="(min-width: 600px)" type="image/webp" srcset=`img/content/${item.img}.webp`)
                    source(type="image/webp" srcset=`img/content/${item.img}-m.webp`)
                    source(media="(min-width: 600px)" srcset=`img/content/${item.img}.jpg`)
                    img(src=`img/content/${item.img}-m.jpg` alt="#" width="342" height="233")
                .management__info
                  h3.management__name #{item.name} 
                  p.management__rank #{item.rank} 
                  p.management__scientific #{item.scientific} 
                  a(href=`${item.url}`).button.management__btn Биография
        button(type="button").swiper-button-prev.slider__button-prev.management__prev
          svg(xmlns="http://www.w3.org/2000/svg" width="13" height="29" xml:space="preserve")
            use(xlink:href="img/symbols.svg#arr_desc").slider__img-des 
            use(xlink:href="img/symbols.svg#arr_mob").slider__img-mob
          span.visually-hidden Предыдущий слайд
        button(type="button").swiper-button-next.slider__button-next.management__next
          svg(xmlns="http://www.w3.org/2000/svg" width="13" height="29" xml:space="preserve")
            use(xlink:href="img/symbols.svg#arr_desc").slider__img-des
            use(xlink:href="img/symbols.svg#arr_mob").slider__img-mob
          span.visually-hidden Следующий слайд