section.banners
  ._container.banners__container
    h2.visually-hidden Предложения Белмапо
    .slider.slider_main
      .banners__slider.slider__container
        ul.banners__list.slider__wrapper.swiper-wrapper
          each banner in banners
            li(style=`background-image: url(img/${banner.img})` media="screen and (max-width: 1280px)").slider__slide.swiper-slide.banner
              .banner__sub-bg
                svg(xmlns="http://www.w3.org/2000/svg" width="13" height="29" xml:space="preserve")
                  rect(width="728.103" height="626.93" rx="20" transform="matrix(0.360546 -0.932741 0.896006 0.444041 -5 673.132)" fill="#10509E" fill-opacity="0.9")
                picture 
                  source(type="image/webp" srcset=`#` media="(min-width: 600px)")
                  source(type="image/webp" srcset=`img/content/${banner.imgs}.webp` media="(max-width: 600px)")
                  img(src=`img/content/${banner.imgs}.jpg` alt=`${banner.title}`)
              .banner__info
                p.banner__title #{banner.title} 
                p.banner__subtitle #{banner.subtitle} 
                a(href=`${banner.url}` tabindex="-1").button.banner__button.button_white Подробнее
        .slider__pagination
      button(type="button").swiper-button-prev.slider__button-prev.banners__prev
        svg(xmlns="http://www.w3.org/2000/svg" width="13" height="29" xml:space="preserve")
          use(xlink:href="img/symbols.svg#arr_desc").slider__img-des 
          use(xlink:href="img/symbols.svg#arr_mob").slider__img-mob
        span.visually-hidden Предыдущий слайд
      button(type="button").swiper-button-next.slider__button-next.banners__next
        svg(xmlns="http://www.w3.org/2000/svg" width="13" height="29" xml:space="preserve")
          use(xlink:href="img/symbols.svg#arr_desc").slider__img-des
          use(xlink:href="img/symbols.svg#arr_mob").slider__img-mob
        span.visually-hidden Следующий слайд