section.partners
  ._container.partners__container
    h2.partners__title.section-title Информационные ресурсы
    .slider
      .partners__slider.slider__container
        ul.partners__list.slider__wrapper.swiper-wrapper
          each partner in partners
            li.partners__item.slider__slide.swiper-slide 
              article.partners__article
                a(href=`${partner.url}`).partners__link 
                  picture 
                    source(type="image/webp" srcset=`img/content/${partner.img}.webp`)
                    img(src=`img/content/${partner.img}.png` alt=`${partner.name}`).partners__img
                  span.visually-hidden #{partner.name}
      button(type="button").swiper-button-prev.slider__button-prev.partners__prev
        svg(xmlns="http://www.w3.org/2000/svg" width="13" height="29" xml:space="preserve")
          use(xlink:href="img/symbols.svg#arr_desc").slider__img-des 
          use(xlink:href="img/symbols.svg#arr_mob").slider__img-mob
        span.visually-hidden Предыдущий слайд
      button(type="button").swiper-button-next.slider__button-next.partners__next
        svg(xmlns="http://www.w3.org/2000/svg" width="13" height="29" xml:space="preserve")
          use(xlink:href="img/symbols.svg#arr_desc").slider__img-des
          use(xlink:href="img/symbols.svg#arr_mob").slider__img-mob
        span.visually-hidden Следующий слайд