section.resources
  ._container.resources__container
    h2.resources__title.section-title Учреждения высшего образования
    .slider
      .resources__slider.slider__container
        ul.resources__list.slider__wrapper.swiper-wrapper
          each resource in resources
            li.resources__item.slider__slide.swiper-slide 
              article.resources__article
                h3.visually-hidden #{resource.name}
                a(href=`${resource.url}`).resources__link 
                  picture 
                    source(type="image/webp" srcset=`img/content/${resource.img}.webp`)
                    img(src=`img/content/${resource.img}.png` alt=`${resource.name}`).resources__img
      button(type="button").swiper-button-prev.slider__button-prev.resources__prev
        svg(xmlns="http://www.w3.org/2000/svg" width="13" height="29" xml:space="preserve")
          use(xlink:href="img/symbols.svg#arr_desc").slider__img-des 
          use(xlink:href="img/symbols.svg#arr_mob").slider__img-mob
        span.visually-hidden Предыдущий слайд
      button(type="button").swiper-button-next.slider__button-next.resources__next
        svg(xmlns="http://www.w3.org/2000/svg" width="13" height="29" xml:space="preserve")
          use(xlink:href="img/symbols.svg#arr_desc").slider__img-des
          use(xlink:href="img/symbols.svg#arr_mob").slider__img-mob
        span.visually-hidden Следующий слайд